<a href="https://colab.research.google.com/github/JakeOh/202505_BD50/blob/main/lab_da/da02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Series

*   한가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스).
*   축(axis) 레이블을 가지고 있는 1차원 배열
    *   정수 기반의 인덱스(range)와 축 레이블을 함께 가질 수 있음.

In [2]:
s = pd.Series([1, 2, -3, -4, 5])

In [3]:
print(type(s))

<class 'pandas.core.series.Series'>

In [4]:
print(s)

0    1
1    2
2   -3
3   -4
4    5
dtype: int64

In [5]:
s

0    1
1    2
2   -3
3   -4
4    5
dtype: int64

In [6]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
s.values

array([ 1,  2, -3, -4,  5])

## indexing, slicing

*   `iloc`: ndarray의 정수 인덱스 기반으로 원소를 참조. 리스트 또는 ndarray에서 사용하는 방법과 동일.
    *   음수 인덱스 사용이 가능
*   `loc`: 축 레이블 기반으로 원소를 참조
    *   음수 인덱스 사용이 불가능

In [8]:
s.iloc[0]  # 시리즈의 첫번째 원소

np.int64(1)

In [9]:
s.iloc[-1]  # 시리즈의 마지막 원소

np.int64(5)

In [10]:
s.iloc[4]

np.int64(5)

In [11]:
s.loc[0]

np.int64(1)

In [12]:
s.loc[4]

np.int64(5)

In [ ]:
# s.loc[-1]  #> 에러 발생

In [14]:
# iloc를 사용한 slicing
s.iloc[0:2]

0    1
1    2
dtype: int64

In [15]:
# loc를 사용한 slicing
s.loc[0:2]

0    1
1    2
2   -3
dtype: int64

In [16]:
s.iloc[2:4]

2   -3
3   -4
dtype: int64

In [17]:
s.loc[2:3]

2   -3
3   -4
dtype: int64

In [22]:
s = pd.Series(data=[1, 2, -3, -4, 5],
              index=['a', 'b', 'x', 'y', 'c'])
s

a    1
b    2
x   -3
y   -4
c    5
dtype: int64

In [19]:
s.iloc[0]  # ndarray의 정수 인덱스 기반

np.int64(1)

In [20]:
s.iloc[-1]  # s.iloc[4]

np.int64(5)

In [21]:
s.loc['a']  # 레이블 기반의 인덱스

np.int64(1)

In [23]:
s.loc['c']

np.int64(5)

In [24]:
s.loc['a':'b']

a    1
b    2
dtype: int64

In [25]:
s.loc['y':'c']

y   -4
c    5
dtype: int64

## fancy indexing

In [26]:
s

a    1
b    2
x   -3
y   -4
c    5
dtype: int64

In [27]:
s.loc[['a', 'b', 'c']]

a    1
b    2
c    5
dtype: int64

In [28]:
s.iloc[[0, 1, 4]]

a    1
b    2
c    5
dtype: int64

## boolean indexing

boolean indexing은 loc 기반으로 동작. iloc는 사용할 수 없음.

In [29]:
s.loc[[True, False, True, False, True]]

a    1
x   -3
c    5
dtype: int64

In [30]:
s > 0

a     True
b     True
x    False
y    False
c     True
dtype: bool

In [31]:
s.loc[s > 0]  # 시리즈 s의 원소들 중 양수들로만 이루어진 부분집합

a    1
b    2
c    5
dtype: int64

In [54]:
s.loc[s < 0]  # 음수 원소들만 찾음.

x   -3
y   -4
dtype: int64

In [40]:
s

a    1
b    2
x   -3
y   -4
c    5
dtype: int64

In [46]:
test_series = pd.Series(data=[1, 10, 100, 1000],
                        index=[1, 2, -1, -2])
test_series

 1       1
 2      10
-1     100
-2    1000
dtype: int64

In [48]:
print(test_series.loc[-1])

100

In [49]:
print(test_series.iloc[-1])

1000

# DataFrame

*   테이블 형식의 2차원 데이터 타입
    *   행(row)과 열(column)을 가지고 있는 데이터 타입