<a href="https://colab.research.google.com/github/JakeOh/202505_BD50/blob/main/lab_da/da11_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Series 인덱스

## 단일 계층 인덱스

In [2]:
s = pd.Series(data=np.random.rand(5))
s  #> Series 객체를 생성할 때 index를 설정하지 않으면 RangeIndex가 자동으로 만들어짐.

0    0.443666
1    0.312218
2    0.290392
3    0.498375
4    0.480959
dtype: float64

In [3]:
s.index  # 인덱스 - row label(행 레이블)

RangeIndex(start=0, stop=5, step=1)

In [4]:
s.values  # 값 -> np.ndarray

array([0.4436661 , 0.31221846, 0.29039216, 0.49837544, 0.48095943])

In [5]:
s = pd.Series(data=np.random.rand(5), index=['a', 'b', 'c', 'd', 'e'])
s  #> 생성자에서 설정한 Index 객체가 만들어짐.

a    0.601790
b    0.386590
c    0.740568
d    0.666003
e    0.193522
dtype: float64

In [6]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
s.index.nlevels  # Index.nlevels 속성(property): 인덱스 계층(level)의 개수.

1

## 계층적 인덱스(hierachical index), Multi-level index

In [9]:
s = pd.Series(data=np.random.randn(6),
              index=[['m', 'm', 'f', 'f', 'u', 'u'],
                     [1, 2, 3, 1, 2, 3]])
s

m  1   -0.874732
   2    0.512407
f  3    0.573985
   1    0.206860
u  2   -1.803297
   3    2.607490
dtype: float64

In [10]:
s.values

array([-0.87473225,  0.51240749,  0.57398479,  0.20686037, -1.8032972 ,
        2.60749006])

In [11]:
s.index  #> MultiIndex: 튜플들을 원소로 갖는 배열.

MultiIndex([('m', 1),
            ('m', 2),
            ('f', 3),
            ('f', 1),
            ('u', 2),
            ('u', 3)],
           )

In [12]:
s.index.nlevels

2

## Indexing, Slicing

nlevels(인덱스의 계층 개수)가 2 이상인 MulitIndex를 사용해서 loc 속성을 이용할 때,
*   첫번째 레벨의 인덱스만 가지고 indexing, slicing을 할 수 있음.
*   두번째 이상의 인덱스만 가지고는 indexing, slicing을 할 수 없음!
*   튜플 형태의 인덱스로 indexing, slicing이 가능.

In [17]:
s.loc['m']  # s['m']

1   -0.874732
2    0.512407
dtype: float64

In [22]:
# s.loc[1]  #> KeyError 발생
s.loc[('m', 1)]

np.float64(-0.8747322503300471)

In [23]:
s.loc[[('m', 1), ('f', 1)]]

m  1   -0.874732
f  1    0.206860
dtype: float64