<a href="https://colab.research.google.com/github/JakeOh/202505_BD50/blob/main/lab_python/python12_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

**함수(function)는 객체(object)다**

*   객체(object): 숫자, 문자열, 논리값, list, tuple, dict, ...
*   객체는 변수에 할당(저장)할 수 있음.
*   객체는 함수 아규먼트로 전달할 수 있음.
*   객체는 함수가 리턴할 수 있음.
*   객체는 함수 내부에서 선언하고 사용할 수 있음.

In [1]:
x = 1  # 정수 1을 변수 x에 할당.
print(x)  # 정수 객체 x를 print 함수의 아규먼트로 전달.

1

In [2]:
result = len('안녕~')  # 함수 len() 리턴값을 변수 result에 할당.
print(result)

3

In [3]:
def double(x):
    return x * 2

In [4]:
print(double(11))  # double() 함수를 호출하고, 그 리턴값을 출력.

22

In [5]:
print(double)  # 함수 객체 출력

<function double at 0x79e93941fc40>

## 함수를 변수에 할당

In [6]:
twice = double  # 함수 객체를 변수 twice에 할당.
print(twice)

<function double at 0x79e93941fc40>

In [7]:
twice(12)

24

In [10]:
result = double(2)
result

4

## 아규먼트로 함수를 전달

In [11]:
def calculator(x, y, fn):
    result = fn(x, y)
    return result

In [12]:
def plus(x, y):
    return x + y

In [13]:
calculator(1, 2, plus)

3

In [14]:
def minus(x, y):
    return x - y

In [15]:
calculator(1, 2, minus)

-1

In [16]:
def is_greater(x, y):
    return x > y

In [17]:
calculator(1, 2, is_greater)

False

## 내부 함수, 함수를 리턴하는 함수

내부 함수(inner function), 지역 함수(local function):

*   함수 내부에서 선언하는 함수.
*   선언된 함수 안에서만 호출할 수 있음.
*   선언된 함수 바깥에서는 호출할 수 없음.
*   외부 함수의 지역 변수들(파라미터 포함)을 사용할 수 있음.

In [21]:
def make_incrementor(n):
    # 내부 함수 선언.
    def add_n(x):
        return x + n

    # 함수 객체를 리턴.
    return add_n

In [23]:
add_n(10)  #> 내부 함수 이름을 단독으로 사용할 수는 없음.

NameError: name 'add_n' is not defined

In [24]:
plus_2 = make_incrementor(2)
print(plus_2)
plus_2(10)

<function make_incrementor.<locals>.add_n at 0x79e9394c7a60>

12

In [25]:
plus_10 = make_incrementor(10)
plus_10(10)

20

In [27]:
make_incrementor(3)(123)

126

# 람다 표현식(Lambda Expression)

*   이름이 없는 함수.
*   함수 이름 선언 없이, 파라미터 선언과 반환 값 또는 반환 식으로 함수를 선언하는 것.
*   람다 표현식 변수에 할당할 수 있음. **함수의 아규먼트로 람다 표현식을 사용**할 수 있음.
*   문법
```
lambda param1, param2, ...: expression(식)
```

In [29]:
# 함수 선언
# def plus_one(x):
#     return x + 1

# 람다 표현식
plus_one = lambda x: x + 1
print(plus_one)
plus_one(11)

<function <lambda> at 0x79e951940400>

12

In [30]:
calculator(11, 22, lambda x, y: x + y)

33

In [32]:
calculator(1, 2, lambda x, y: x - y)

-1

In [33]:
calculator(2, 3, lambda x, y: x * y)

6

In [34]:
calculator(3, 1, lambda x, y: x > y)

True

## lambda를 아규먼트로 전달하는 예

*   filter: 조건을 만족하는 아이템들을 찾기.
    *   `filter(function, iterable)`: iterable의 원소들을 하나씩 순서대로 function의 아규먼트로 전달해서, function이 True를 리턴하는 원소들만 선택.
        *   function(x) ==> True/False
*   map: 아이템을 일정한 규칙에 따라서 다른 값으로 변환(매핑).
    *   `map(function, iterable)`: iterable의 원소들을 하나씩 순서대로 function 아규먼트로 전달해서, function이 리턴하는 값들을 저장.
        *   function(x) ==> object

In [35]:
import random

In [37]:
numbers = [random.randrange(100) for _ in range(10)]
numbers

[46, 69, 12, 46, 68, 69, 28, 80, 31, 36]

In [38]:
# 리스트 numbers의 원소들 중에서 홀수들만 필터링.
[x for x in numbers if x % 2]

[69, 69, 31]

In [39]:
result = filter(lambda x: x % 2 == 1, numbers)
list(result)  # 필터링된 객체를 리스트(list)로 변환

[69, 69, 31]

In [40]:
# numbers의 원소들 중에서 짝수들만 필터링
result = filter(lambda x: x % 2 == 0, numbers)
list(result)

[46, 12, 46, 68, 28, 80, 36]

In [52]:
# 리스트 numbers의 원소가 짝수인 경우에는 'even', 홀수인 경우에는 'odd'로 매핑
['even' if x % 2 == 0 else 'odd' for x in numbers]

['even', 'odd', 'even', 'even', 'even', 'odd', 'even', 'even', 'odd', 'even']

In [42]:
result = map(lambda x: 'even' if x % 2 == 0 else 'odd', numbers)
list(result)

['even', 'odd', 'even', 'even', 'even', 'odd', 'even', 'even', 'odd', 'even']

In [43]:
# numbers의 원소가 짝수이면 True, 홀수이면 False로 매핑
result = map(lambda x: True if x % 2 == 0 else False, numbers)
list(result)

[True, False, True, True, True, False, True, True, False, True]

numbers의 원소가 0 ~ 19이면 'teen', 20 ~ 59이면 'adult', 60 이상이면 'senior'로 매핑

In [49]:
age = 19
# if age < 20:
#     category = 'teen'
# elif age < 60:
#     category = 'adult'
# else:
#     category = 'senior'
category = 'teen' if age < 20 else ('adult' if age < 60 else 'senior')

print(category)

teen

In [51]:
print(numbers)
result = map(lambda x: 'teen' if x < 20 else ('adult' if x < 60 else 'senior'), numbers)
list(result)

[46, 69, 12, 46, 68, 69, 28, 80, 31, 36]

['adult',
 'senior',
 'teen',
 'adult',
 'senior',
 'senior',
 'adult',
 'senior',
 'adult',
 'adult']

## filter 함수 구현

In [53]:
def my_filter(iterable, function):
    """
    iterable의 아이템들 중에서 function의 결과가 True가 되는 아이템들로 이루어진 리스트를 리턴.

    @param iterable - list 또는 tuple.
    @param function - 아규먼트가 1개이고 리턴값은 True/False인 함수.
    @return 리스트(list).
    """
    # result = []  # 필터링한(조건을 만족하는) 아이템들을 저장하기 위한 빈 리스트.
    # for x in iterable:  # iterable의 원소들을 순서대로 하나씩 순회하면서
    #     if function(x):  # 원소를 function의 아규먼트로 전달했을 때 True를 리턴하면(조건을 만족하면)
    #         result.append(x)  # 리스트에 추가
    result = [x for x in iterable if function(x)]

    return result

In [55]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)
evens = my_filter(numbers, lambda x: x % 2 == 0)
print(evens)

[1, 3, 0, 9, 4, 0, 8, 9, 2, 5]
[0, 4, 0, 8, 2]

In [56]:
numbers = [random.randrange(-10, 11) for _ in range(20)]
print(numbers)
positives = my_filter(numbers, lambda x: x > 0)
print(positives)

[-8, 8, 1, -10, 7, 10, -1, -5, 0, -9, 6, -1, -3, 1, 7, -1, 8, -4, 3, -6]
[8, 1, 7, 10, 6, 1, 7, 8, 3]

In [57]:
languages = ['Python', 'SQL', 'Java', 'JavaScript', 'R']

# languages의 문자열들 중에서 길이가 5 이상인 문자열들을 필터링
result = my_filter(languages, lambda x: len(x) >= 5)
print(result)

['Python', 'JavaScript']

## map 함수 구현

In [58]:
def my_map(iterable, function):
    """
    iterable의 원소를 함수 function의 아규먼트로 전달했을 때 그 리턴값들을 저장한 리스트를 리턴.

    @param iterable - list 또는 tuple.
    @param function - 아규먼트가 1개이고, 리턴값이 있는 함수.
    @return list.
    """
    # result = []
    # for x in iterable:
    #     result.append(function(x))
    result = [function(x) for x in iterable]

    return result

In [59]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)
result = my_map(numbers, lambda x: '짝수' if x % 2 == 0 else '홀수')
print(result)

[3, 7, 6, 3, 9, 4, 1, 2, 3, 7]
['홀수', '홀수', '짝수', '홀수', '홀수', '짝수', '홀수', '짝수', '홀수', '홀수']

In [61]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)
result = my_map(numbers, lambda x: x ** 2)
print(result)

[0, 4, 5, 8, 2, 7, 0, 8, 7, 8]
[0, 16, 25, 64, 4, 49, 0, 64, 49, 64]

In [62]:
languages = ['Python', 'SQL', 'Java', 'JavaScript', 'R']

# languages의 문자열을 그 문자열의 길이로 매핑
my_map(languages, lambda x: len(x))

[6, 3, 4, 10, 1]