<a href="https://colab.research.google.com/github/JakeOh/202505_BD50/blob/main/lab_python/python06_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트(list)

*   `list`: 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
*   원소(element), 아이템(item): 리스트에 저장된 각각의 값.
*   인덱스(index): 리스트에 원소들이 저장된 위치를 표시하는 정수.
    *   리스트의 인덱스는 **0**부터 시작.
    *   리스트에서 마지막 원소의 인덱스는 (원소 개수 - 1).
*   리스트는 원소들을 추가, 변경, 삭제할 수 있음.
    *   `tuple`과 다른 점.

In [1]:
# 숫자들을 저장하는 list
numbers = [1, 2, 10, 20, -1, -2]
print(type(numbers))
print(numbers)
numbers

<class 'list'>
[1, 2, 10, 20, -1, -2]

[1, 2, 10, 20, -1, -2]

In [2]:
# 파이썬의 리스트는 여러 타입의 값들을 하나의 변수에 저장할 수 있음.
values = [1, 2, '안녕', '파이썬', True, False, [1, 2, 3]]
print(type(values))
values

<class 'list'>

[1, 2, '안녕', '파이썬', True, False, [1, 2, 3]]

# Indexing

인덱스를 사용해서 리스트의 아이템을 사용하는 방법.

In [3]:
numbers = [1, -2, 3, 10, -20, 100]
numbers

[1, -2, 3, 10, -20, 100]

In [4]:
numbers[0]  # 리스트 numbers의 첫번째 아이템

1

In [5]:
numbers[5]  # 리스트 numbers의 인덱스 5번 위치의 원소(마지막 원소)

100

In [6]:
numbers[-1]  # 리스트 numbers의 마지막 아이템

100

In [7]:
numbers[-2]  # 리스트 numbers의 끝에서 두번째 아이템

-20

# Slicing

`list[start:end]`
*   list에서 인덱스 start <= index < end 범위의 아이템들을 잘라내는 방법
*   시작 인덱스 start를 생략하면 첫번째 원소부터 잘라냄. start의 기본값은 0.
*   종료 인덱스 end를 생략하면 마지막 원소까지 잘라냄.
*   slicing의 결과는 **새로운 리스트**.

In [9]:
numbers[1:4]

[-2, 3, 10]

In [11]:
# 리스트 numbers에서 첫번째 원소부터 3개의 원소를 잘라냄
numbers[:3]  # numbers[0:3]

[1, -2, 3]

In [13]:
# 리스트 numbers에서 인덱스 4번 위치부터 마지막 원소까지 잘라냄.
numbers[4:]  # numbers[4:6]

[-20, 100]

In [14]:
# 리스트 numbers에서 끝에서 2개 아이템들을 잘라냄.
numbers[-2:]

[-20, 100]

In [15]:
print(numbers[0])  # 리스트의 원소
print(numbers[0:1])  # 리스트(부분집합)

1
[1]

# 문자열(String)

문자열
*   문자들의 리스트.
*   인덱스를 사용할 수 있음.
    *   indexing
    *   slicing

In [27]:
message = '안녕, Python!'
message

'안녕, Python!'

In [28]:
message[0]  # 문자열 message의 첫번째 문자

'안'

In [29]:
message[-1]  # 문자열의 마지막 문자

'!'

In [30]:
message[:2]  # 문자열에서 첫 두 글자

'안녕'

In [31]:
message[-2:]  # 문자열에서 마지막 두 글자

'n!'

# 리스트의 산술 연산

*   `list + list`: concatenate. 2개의 리스트의 원소들을 합쳐서 하나의 리스트로 만듦.
*   `list * int`: replicate. 리스트의 원소들을 정수만큼 복사해서 원소의 개수를 늘림.

In [32]:
print('안녕' + 'Python')
print('안녕' * 3)

안녕Python
안녕안녕안녕

In [33]:
[1, 2, 3] + [10, 20, 30]

[1, 2, 3, 10, 20, 30]

In [34]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list의 기능들 - 함수(메서드)

## 원소 추가

In [35]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [36]:
# list.append(값): list의 가장 마지막에 (값)을 추가.
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 100]

In [37]:
# list.insert(idx, val): 인덱스 idx 바로 앞에 val을 원소로 추가.
numbers.insert(0, -1)
numbers

[-1, 1, 2, 3, 4, 5, 100]

In [38]:
numbers.insert(-1, -100)
numbers

[-1, 1, 2, 3, 4, 5, -100, 100]

In [39]:
# list.extend(iterable): iterable의 원소들을 하나씩 리스트의 끝에 append.
numbers.extend([11, 22, 33])
numbers

[-1, 1, 2, 3, 4, 5, -100, 100, 11, 22, 33]

In [41]:
# (주의) append와 extend의 차이점:
numbers.append([-1, -2, -3])
numbers

[-1, 1, 2, 3, 4, 5, -100, 100, 11, 22, 33, [-1, -2, -3]]

## 원소 삭제

In [42]:
numbers = [1, 2, 3, 10, 20, 30, 1, 2, 3]
numbers

[1, 2, 3, 10, 20, 30, 1, 2, 3]

In [43]:
# list.pop(): list의 가장 마지막 원소를 삭제.
numbers.pop()
numbers

[1, 2, 3, 10, 20, 30, 1, 2]

In [44]:
# list.pop(index): list에서 index 위치의 아이템을 삭제.
numbers.pop(0)
numbers

[2, 3, 10, 20, 30, 1, 2]

In [45]:
# list.remove(value): list에서 첫번째로 등장하는 value를 삭제.
numbers.remove(2)
numbers

[3, 10, 20, 30, 1, 2]

In [46]:
# list.clear(): list의 모든 원소들을 삭제.
numbers.clear()
numbers

[]

## 원소 변경

In [47]:
numbers = [1, 2, 3]
numbers

[1, 2, 3]

In [48]:
# list[index] = value
numbers[1] = 3.14
numbers

[1, 3.14, 3]

# list와 for 반복문

In [51]:
numbers = [1, 2, 3, 10, 20, 30]
for x in numbers:
    print(x, end='\t')

1	2	3	10	20	30

In [52]:
for index, value in enumerate(numbers):
    print(f'{index} : {value}')

0 : 1
1 : 2
2 : 3
3 : 10
4 : 20
5 : 30

# 연습문제

## Ex 1.

*   빈 리스트 numbers를 만듦.
*   리스트에 numbers에 100 미만의 정수 난수 10개를 저장.
*   numbers를 출력.
*   numbers의 원소들 중에서 짝수들로만 이루어진 새로운 리스트 evens를 만들고 출력.
*   numbers의 원소들 중에서 홀수들로만 이루어진 새로운 리스트 odds를 만들고 출력.

In [53]:
import random

In [60]:
numbers = []  # 난수들을 저장하기 위한 빈 리스트
for _ in range(10):
    numbers.append(random.randrange(100))

numbers

[84, 27, 27, 15, 32, 24, 41, 74, 96, 53]

In [61]:
evens = []  # 짝수들을 저장하기 위한 빈 리스트
for x in numbers:  # 리스트 numbers의 원소들을 순서대로 반복하면서
    if x % 2 == 0:  # 리스트의 원소가 짝수이면
        evens.append(x)  # 리스트 evens에 추가.

evens

[84, 32, 24, 74, 96]

In [62]:
odds = []
for x in numbers:
    if x % 2:
        odds.append(x)

odds

[27, 27, 15, 41, 53]

## Ex 2.

*   integers 이름의 빈 리스트를 만듦.
*   리스트 integers에 -10 이상 10 이하의 정수 난수 10개를 저장하고 출력.
*   is_positives 이름의 빈 리스트를 만듦.
*   integers의 원소가 양수이면 True, 그렇지 않으면 False를 is_positives에 저장하고 출력.

In [65]:
integers = []
for _ in range(10):
    integers.append(random.randrange(-10, 11))

integers

[-5, 7, 3, 10, -10, -4, -8, -10, -2, 9]

In [66]:
is_positives = []
for x in integers:
    if x > 0:
        is_positives.append(True)
    else:
        is_positives.append(False)

is_positives

[False, True, True, True, False, False, False, False, False, True]

## Ex 3.

In [67]:
names = ['Python', 'SQL', 'R', 'Java', 'JavaScript']
name_lengths = []  # names의 저장된 문자열의 길이(len(str))들을 저장할 리스트
for x in names:
    name_lengths.append(len(x))

name_lengths

[6, 3, 1, 4, 10]

# List Comprehension

In [68]:
# 1 ~ 10 정수들을 순서대로 저장하는 리스트
numbers = []
for x in range(1, 11):
    numbers.append(x)

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
numbers2 = [x for x in range(1, 11)]
numbers2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
# 1 ~ 20 사이의 홀수들을 저장하는 리스트: [1, 3, 5, ..., 17, 19]
# odds = []
# for x in range(1, 20, 2):
#     odds.append(x)
odds = [x for x in range(1, 20, 2)]

odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [73]:
# 1 ~ 10 정수들의 제곱을 저장하는 리스트: [1, 4, 9, 16, ..., 81, 100]
# squares = []
# for x in range(1, 11):
#     squares.append(x ** 2)
squares = [x ** 2 for x in range(1, 11)]

squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [75]:
# 0 이상 100 미만의 정수 난수 10개를 저장하는 리스트
# rand_numbers = []
# for _ in range(10):
#     rand_numbers.append(random.randrange(100))
rand_numbers = [random.randrange(100) for _ in range(10)]

rand_numbers

[22, 9, 19, 36, 38, 1, 40, 90, 88, 15]

In [77]:
# rand_numbers의 원소들 중에서 짝수들로만 이루어진 리스트
# evens = []
# for x in rand_numbers:
#     if x % 2 == 0:
#         evens.append(x)
evens = [x for x in rand_numbers if x % 2 == 0]

evens

[22, 36, 38, 40, 90, 88]

In [78]:
# rand_numbers의 원소들 중에서 홀수들로만 이루어진 리스트
odds = [x for x in rand_numbers if x % 2]
odds

[9, 19, 1, 15]