<a href="https://colab.research.google.com/github/JakeOh/202505_BD50/blob/main/lab_python/python13_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체지향 프로그래밍 배경

In [6]:
students = [
    {'id': 1, 'name': '홍길동', 'korean': 100, 'english': 80, 'math': 95},
    {'id': 2, 'name': '오쌤', 'korean': 50, 'english': 45, 'math': 61},
    {'id': 3, 'name': 'Scott', 'korean': 70, 'english': 99, 'math': 78},
]

In [7]:
# 번호, 이름, 총점, 평균을 출력
for s in students:
    total = s['korean'] + s['english'] + s['math']
    mean = total / 3
    print(f"번호: {s['id']}, 이름: {s['name']}, 총점: {total}, 평균: {mean}")

번호: 1, 이름: 홍길동, 총점: 275, 평균: 91.66666666666667
번호: 2, 이름: 오쌤, 총점: 156, 평균: 52.0
번호: 3, 이름: Scott, 총점: 247, 평균: 82.33333333333333

위 코드의 문제점은 dict의 키는 중복되지만 않게 만들면 되기 때문에, 반복문에서 총점과 평균을 계산하는 코드가 제대로 동작하지 않을 수도 있음.

## 함수형 프로그래밍(Functional Programming)