<a href="https://colab.research.google.com/github/JakeOh/202505_BD50/blob/main/lab_python/python09_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

*   사전(dictionary) 형식의 데이터 타입
*   키(key)와 값(value)을 쌍으로 저장하는 데이터 타입
    *   list, tuple: 인덱스를 기반으로 값(들)을 저장하는 데이터 타입.
    *   dict: 키를 기반으로 값을 저장하는 데이터 타입.
    *   dict 타입에서 키의 역할은 list나 tuple에서 인덱스의 역할과 비슷.
        *   dict에 저장된 1개의 값을 참조할 때 사용.
        *   키는 중복된 값을 허용하지 않음.

In [1]:
students = {100: '홍길동', 101: '오쌤', 200: 'Scott', 300: 'King'}
print(type(students))
print(students)

<class 'dict'>
{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: 'King'}

In [5]:
students[200]  # dict_var[key] => key에 매핑된 값을 찾음.

'Scott'

# dict 함수(메서드)

In [6]:
# dict_var.keys(): dict_var가 가지고 있는 키들의 리스트를 리턴.
students.keys()

dict_keys([100, 101, 200, 300])

In [7]:
# dict_var.values(): dict_var가 가지고 있는 값들의 리스트를 리턴.
students.values()

dict_values(['홍길동', '오쌤', 'Scott', 'King'])

In [8]:
# dict_var.items(): (key, value) 튜플들의 리스트를 리턴.
students.items()

dict_items([(100, '홍길동'), (101, '오쌤'), (200, 'Scott'), (300, 'King')])

In [9]:
# dict_var.get(key): key에 매핑된 값(value)를 리턴. dict_var[key]과 동일.
students.get(100)

'홍길동'

`dict_var[key] = value`

*   key가 dict_var 안에 있을 때, key에 해당하는 값을 새로운 값으로 재할당(변경).
*   key가 dict_var 안에 없을 때, 새로운 key-value 아이템을 dict_var에 추가.

In [11]:
students[300] = 'Allen'
students

{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: 'Allen'}

In [12]:
students[301] = 'Tiger'
students

{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: 'Allen', 301: 'Tiger'}

# dict와 for 반복문

In [14]:
# for-in 반복문에서 dict 타입 객체를 사용하면 key들을 순회(iteration).
for k in students:
    print(k, ':', students[k])

100 : 홍길동
101 : 오쌤
200 : Scott
300 : Allen
301 : Tiger

In [15]:
for k, v in students.items():
    print(k, ':', v)

100 : 홍길동
101 : 오쌤
200 : Scott
300 : Allen
301 : Tiger

In [19]:
book = {'title': '파이썬 예제', 'author': '오쌤', 'price': 10_000}
print(book)
print(book['title'])
print(book.get('author'))
for k, v in book.items():
    print(k, ':', v)

{'title': '파이썬 예제', 'author': '오쌤', 'price': 10000}
파이썬 예제
오쌤
title : 파이썬 예제
author : 오쌤
price : 10000

dict는 key와  value 모두 다양한 타입의 자료들을 사용할 수 있음.

# 다양한 자료들을 저장하는 dict

In [21]:
contact = {
    'id': 1,
    'name': '오쌤',
    'phones': ['010-1234-5678', '02-1234-5678', '02-0000-0000'],
    'emails': {'company': 'jake@itwill.com', 'personal': 'jake@naver.com'}
}
contact

{'id': 1,
 'name': '오쌤',
 'phones': ['010-1234-5678', '02-1234-5678', '02-0000-0000'],
 'emails': {'company': 'jake@itwill.com', 'personal': 'jake@naver.com'}}

In [22]:
contact['id']  # contact.get('id')

1

In [24]:
# 첫번째 전화번호만 출력
contact['phones'][0]

'010-1234-5678'

In [28]:
# 회사 이메일만 출력
# contact['emails']['company']
contact.get('emails').get('company')

'jake@itwill.com'

# Dictionary Comprehension

In [29]:
emp_no = [1001, 1002, 1003, 1004]
emp_name = ['Scott', 'Allen', 'King', '오쌤']

# emp_no의 숫자를 키로 하고, emp_name의 문자열을 값으로 하는 dictionary
emp = {}  # 빈 dict
for no, name in zip(emp_no, emp_name):
    emp[no] = name
emp

{1001: 'Scott', 1002: 'Allen', 1003: 'King', 1004: '오쌤'}

In [30]:
emp2 = {no: name for no, name in zip(emp_no, emp_name)}
emp2

{1001: 'Scott', 1002: 'Allen', 1003: 'King', 1004: '오쌤'}

In [34]:
fruits = ['apple', 'banana', 'cherry', 'pineapple', 'watermellon']

# fruit_lengths: fruits의 문자열을 키로 하고, 그 문자열의 길이를 값으로 dict
fruit_lengths = {}  # dict()
for x in fruits:
    fruit_lengths[x] = len(x)

fruit_lengths

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermellon': 11}

In [35]:
fruit_lengths2 = {x: len(x) for x in fruits}
fruit_lengths2

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermellon': 11}

## Word Counting

In [36]:
words = ['one', 'little', 'two', 'little', 'three', 'little', 'indian', 'indian']
words

['one', 'little', 'two', 'little', 'three', 'little', 'indian', 'indian']

리스트 words의 단어를 키로 하고, 그 단어가 리스트에 등장하는 횟수를 값으로 하는 dict를 만들고 출력하세요.

`결과: {'one': 1, 'lttle': 3, 'two': 1, 'three': 1, 'indian': 2}`

In [42]:
# word_count = {}
# for w in words:
#     word_count[w] = words.count(w)
word_count = {w: words.count(w) for w in words}

print(word_count)

{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2}

In [49]:
word_count2 = {}
for w in words:
    if w in word_count2: # if w in word_count2.keys():
        word_count2[w] += 1
    else:
        word_count2[w] = 1

print(word_count2)

{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2}