<a href="https://colab.research.google.com/github/JakeOh/202505_BD50/blob/main/lab_python/python14_class_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex 1.

Score 클래스 선언
*   속성(property): 국어(korean), 수학(math), 과학(science)
    *   국어, 수학, 과학의 기본값은 0.
*   기능(method): get_total(총점 리턴), get_mean(평균 리턴)
*   `__str__` 메서드: "Score(korean=100, math=100, science=100)" 형식의 문자열을 리턴.
*   `__repr__` 메서드: "점수(국어=100, 수학=100, 과학=100)" 형식의 문자열을 리턴.

In [1]:
class Score:
    def __init__(self, korean=0, math=0, science=0):
        self.korean = korean
        self.math = math
        self.science = science

    def __str__(self):
        return f'Score(korean={self.korean}, math={self.math}, science={self.science})'

    def __repr__(self):
        return f'점수(국어={self.korean}, 수학={self.math}, 과학={self.science})'

    def get_total(self):
        return self.korean + self.math + self.science

    def get_mean(self):
        return self.get_total() / 3

# Ex 2.

Student 클래스 선언
*   속성: 번호(id), 이름(name), 점수(score: Score 타입 객체)
*   `__str__`, `__repr__` 메서드 같은 형식의 문자열을 리턴.
    *   (예) Score(id=1, name=홍길동, score=Score(...))

In [5]:
class Student:
    def __init__(self, id, name, score):
        self.id = id
        self.name = name
        self.score = score

    def __str__(self):
        return f'Student(id={self.id}, name={self.name}, score={self.score})'

    def __repr__(self):
        return self.__str__()

In [3]:
score1 = Score()
print(score1)
score1

Score(korean=0, math=0, science=0)

점수(국어=0, 수학=0, 과학=0)

In [4]:
score2 = Score(100, 99, 97)
print(score2)
score2

Score(korean=100, math=99, science=97)

점수(국어=100, 수학=99, 과학=97)

In [6]:
student1 = Student(1, '홍길동', score1)
print(student1)
student1

Student(id=1, name=홍길동, score=Score(korean=0, math=0, science=0))

Student(id=1, name=홍길동, score=Score(korean=0, math=0, science=0))

In [7]:
student2 = Student(2, '오쌤', score2)
print(student2)
print('총점 =', student2.score.get_total())
print('평균 =', student2.score.get_mean())

Student(id=2, name=오쌤, score=Score(korean=100, math=99, science=97))
총점 = 296
평균 = 98.66666666666667

In [8]:
student3 = Student(3, 'Scott', Score(11, 22, 32))
print(student3)
print('총점 =', student3.score.get_total())
print('평균 =', student3.score.get_mean())

Student(id=3, name=Scott, score=Score(korean=11, math=22, science=32))
총점 = 65
평균 = 21.666666666666668