<a href="https://colab.research.google.com/github/JakeOh/202505_BD50/blob/main/lab_python/python07_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플(tuple)

*   `tuple`: 저장된 아이템들을 변경할 수 없는 리스트.
*   인덱스 기반의 데이터 타입.
    *   indexing: 특정 인덱스 위치의 아이템을 읽어옴.
    *   slicing: 특정 인덱스 범위의 아이템들로 이루어진 **새로운 튜플**을 만듦.
*   append, extend, insert, pop, remove, ... 와 같은 함수들은 제공되지 않음.

In [3]:
numbers = (1, 2, 3, 1, 1, 2)
print(type(numbers))
numbers

<class 'tuple'>

(1, 2, 3, 1, 1, 2)

In [2]:
len(numbers)  # 튜플의 아이템의 개수

6

In [4]:
numbers.count(1)  # list|tuple.count(value): 리스트 또는 튜플에서 value가 나오는 횟수를 리턴.

3

In [5]:
numbers.index(2)  # list|tuple.index(value): 리스트 또는 튜플에서 value가 처음 나오는 인덱스를 리턴.

1

# Indexing

In [6]:
numbers

(1, 2, 3, 1, 1, 2)

In [7]:
numbers[0]  # 튜플 numbers의 첫번째 원소

1

In [8]:
numbers[-1]  # 튜플 numbers의 마지막 원소

2

# Slicing

In [9]:
numbers[:3]  # 튜플에서 첫 3개 원소들을 자른 결과 튜플

(1, 2, 3)

In [10]:
numbers[-3:]  # 튜플에서 마지막 3개 원소들을 자른 결과 튜플

(1, 1, 2)

# tuple과 for 반복문

In [11]:
for x in (1, 10, -2, -20, 30):
    print(x)

1
10
-2
-20
30

In [12]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

In [14]:
matrix[0][0]

1

In [17]:
for row in matrix:
    for x in row:
        print(x, end='\t')
    print()

1	2	3
4	5	6
7	8	9

# list | tuple decomposition(분해)

In [22]:
integers = (1, 2, 3)
# x = integers[0]
# y = integers[1]
# z = integers[2]

# x, y, z = integers[0], integers[1], integers[2]

x, y, z = integers

print(x, y, z)

1 2 3

In [23]:
names = ['홍길동', '오쌤']
person1, person2 = names
print(person1, person2)

홍길동 오쌤