<a href="https://colab.research.google.com/github/JakeOh/202505_BD50/blob/main/lab_python/python13_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체지향 프로그래밍 배경

In [ ]:
students = [
    {'id': 1, 'name': '홍길동', 'korean': 100, 'english': 80, 'math': 95},
    {'id': 2, 'name': '오쌤', 'korean': 50, 'english': 45, 'math': 61},
    {'id': 3, 'name': 'Scott', 'korean': 70, 'english': 99, 'math': 78},
]

In [ ]:
# 번호, 이름, 총점, 평균을 출력
for s in students:
    total = s['korean'] + s['english'] + s['math']
    mean = total / 3
    print(f"번호: {s['id']}, 이름: {s['name']}, 총점: {total}, 평균: {mean}")

번호: 1, 이름: 홍길동, 총점: 275, 평균: 91.66666666666667
번호: 2, 이름: 오쌤, 총점: 156, 평균: 52.0
번호: 3, 이름: Scott, 총점: 247, 평균: 82.33333333333333

위 코드의 문제점은 dict의 키는 중복되지만 않게 만들면 되기 때문에, 반복문에서 총점과 평균을 계산하는 코드가 제대로 동작하지 않을 수도 있음.

## 함수형 프로그래밍(Functional Programming)

In [ ]:
def create_student(id, name, korean, english, math):
    student = {
        'id': id,
        'name': name,
        'korean': korean,
        'english': english,
        'math': math
    }

    return student

In [ ]:
students = [
    create_student(1, '홍길동', 100, 95, 98),
    create_student(2, '오쌤', 50, 45, 39),
    create_student(3, 'Scott', 88, 99, 75)
]
students

[{'id': 1, 'name': '홍길동', 'korean': 100, 'english': 95, 'math': 98},
 {'id': 2, 'name': '오쌤', 'korean': 50, 'english': 45, 'math': 39},
 {'id': 3, 'name': 'Scott', 'korean': 88, 'english': 99, 'math': 75}]

In [ ]:
def get_total(student):
    return student['korean'] + student['english'] + student['math']

In [ ]:
def get_mean(student):
    return get_total(student) / 3

In [ ]:
for s in students:
    total = get_total(s)
    mean = get_mean(s)
    print(f"번호: {s['id']}, 이름: {s['name']}, 총점: {total}, 평균: {mean}")

번호: 1, 이름: 홍길동, 총점: 293, 평균: 97.66666666666667
번호: 2, 이름: 오쌤, 총점: 134, 평균: 44.666666666666664
번호: 3, 이름: Scott, 총점: 262, 평균: 87.33333333333333

get_total 함수와 get_mean 함수는 학생 객체(dict)의 데이터와 매우 밀접합 관계를 가지고 있음.

데이터(국어, 영어, 수학 점수)와 기능(총점 계산, 평균 계산)이 매우 밀접하게 연결되어 있음.

데이터와 기능을 하나의 자료 타입으로 묶을 수 없을까?

## 객체 지향 프로그래밍(OOP: Object-Oriented Programming)

*   객체(object): 속성을 가지고 대상.
*   클래스(class): 객체를 만들기 위한 설계도(코드).
    *   속성(property): 객체가 가져야 하는 값(들). 변수.
    *   기능(method): 클래스 안에서 선언하는 함수.
        *   메서드를 선언할 때 첫번째 아규먼트는 self.
*   인스턴스(instance): 메모리에 생성된 객체.
*   생성자(constructor): 클래스 이름과 동일한 함수. 객체를 생성해 주는 함수.
    *   파이썬에서는 생성자를 호출하면 클래스에서 선언한 `__init__()` 메서드를 호출함.

In [ ]:
class Student:
    # 생성자: 객체 초기화
    def __init__(self, id, name, korean, english, math):
        self.id = id
        self.name = name
        self.korean = korean
        self.english = english
        self.math = math

    # 메서드(method)
    def get_total(self):
        return self.korean + self.english + self.math

    def get_mean(self):
        return self.get_total() / 3

In [ ]:
student1 = Student(1, '홍길동', 100, 98, 96)  # 생성자 호출 -> __init__ 메서드 호출.
print(student1)
print(student1.id)
print(student1.name)
print(student1.korean)
print(student1.get_total())
print(student1.get_mean())

<__main__.Student object at 0x7c25e9f76890>
1
홍길동
100
294
98.0

In [ ]:
students = [
    Student(1, '홍길동', 100, 98, 96),
    Student(2, '오쌤', 55, 65, 77),
    Student(3, 'Scott', 88, 99, 86)
]
students

[<__main__.Student at 0x7c25e9f76210>,
 <__main__.Student at 0x7c25e9f76bd0>,
 <__main__.Student at 0x7c25e9f76b50>]

In [ ]:
for s in students:
    print(f'번호: {s.id}, 이름: {s.name}, 총점: {s.get_total()}, 평균: {s.get_mean()}')

번호: 1, 이름: 홍길동, 총점: 294, 평균: 98.0
번호: 2, 이름: 오쌤, 총점: 197, 평균: 65.66666666666667
번호: 3, 이름: Scott, 총점: 273, 평균: 91.0

# 클래스 연습

## Ex 1.

원(Circle) 클래스
*   기능: 넓이(area), 둘레길이(perimeter)
*   속성: 반지름(radius)

In [ ]:
class Circle:
    # 객체 초기화 - 생성자
    def __init__(self, radius):
        self.radius = radius

    # 메서드(클래스의 함수)
    def area(self):
        return 3.14 * self.radius ** 2

    def perimeter(self):
        return 2 * 3.14 * self.radius

In [ ]:
c1 = Circle(1)  # 생성자 호출 -> 객체 생성 & 초기화
print(c1)
print(c1.radius)
print(c1.area())
print(c1.perimeter())

<__main__.Circle object at 0x7c25be0dea50>
1
3.14
6.28

In [ ]:
c2 = Circle(10)
print(c2)
print(c2.radius)
print(c2.area())
print(c2.perimeter())

<__main__.Circle object at 0x7c25be2c3110>
10
314.0
62.800000000000004

## Ex 2.

직사각형(Rectangle) 클래스
*   기능: 넓이(area), 둘레길이(perimeter), 크기변경(resize)
*   속성: 가로(width), 세로(height)

In [ ]:
class Rectangle:
    def __init__(self, width=0, height=0):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 * (self.width + self.height)

    def resize(self, new_width, new_height):
        self.width = new_width
        self.height = new_height

In [ ]:
rect1 = Rectangle(4, 3)
print(rect1)
print(f'가로 = {rect1.width}, 세로 = {rect1.height}')
print(f'넓이 = {rect1.area()}, 둘레 = {rect1.perimeter()}')

<__main__.Rectangle object at 0x7c25be02f890>
가로 = 4, 세로 = 3
넓이 = 12, 둘레 = 14

In [ ]:
rect2 = Rectangle(3, 6)
print(rect2)
print(f'가로 = {rect2.width}, 세로 = {rect2.height}')
print(f'넓이 = {rect2.area()}, 둘레 = {rect2.perimeter()}')

<__main__.Rectangle object at 0x7c25be02f990>
가로 = 3, 세로 = 6
넓이 = 18, 둘레 = 18

In [ ]:
rect3 = Rectangle()  # __init__ 메서드에서 default argument가 설정되어 있는 경우.
print(f'가로 = {rect3.width}, 세로 = {rect3.height}')

가로 = 0, 세로 = 0

In [ ]:
rect4 = Rectangle(height=10)
print(f'가로 = {rect4.width}, 세로 = {rect4.height}')

가로 = 0, 세로 = 10

In [ ]:
rect4.resize(5, 12)
print(f'가로 = {rect4.width}, 세로 = {rect4.height}')
print(f'넓이 = {rect4.area()}, 둘레 = {rect4.perimeter()}')

가로 = 5, 세로 = 12
넓이 = 60, 둘레 = 34

## Ex 3.

점(Point) 클래스: 2차원 평면의 한 점의 좌표를 표현하는 객체.
*   속성
    *   x: 점의 x좌표
    *   y: 점의 y좌표
*   기능
    *   이동(move): 점의 위치를 원래 위치에서 x축 방향으로 dx만큼, y축 방향으로 dy만큼 이동.
    *   두 점 간의 거리(distance): ((x1 - x2) ** 2 + (y1 - y2) ** 2) ** 0.5

In [ ]:
class Point:
    """2차원 평면에서 한 점의 좌표(x, y)를 표현하는 클래스."""

    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def move(self, dx, dy):
        """점의 위치를 x축의 방향으로 dx만큼, y축의 방향으로 dy만큼 이동."""
        self.x += dx  # self.x = self.x + dx
        self.y += dy

    def distance(self, other):
        """현재 점(self)과 다른 점(other) 사이의 거리를 리턴."""
        return ((self.x - other.x) ** 2 + (self.y - other.y) ** 2) ** 0.5

In [ ]:
p1 = Point()
print(f'p1 (x={p1.x}, y={p1.y})')

p1 (x=0, y=0)

In [ ]:
p1.move(1, 2)
print(f'p1 (x={p1.x}, y={p1.y})')

p1 (x=1, y=2)

In [ ]:
p2 = Point(-1, 2)
print(f'p2 (x={p2.x}, y={p2.y})')

p2 (x=-1, y=2)

In [ ]:
d = p1.distance(p2)
print(d)

2.0

In [ ]:
p2.move(1, -1)
print(f'p2 (x={p2.x}, y={p2.y})')
print(p1.distance(p2))

p2 (x=0, y=1)
1.4142135623730951

In [ ]:
dir(p2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'distance',
 'move',
 'x',
 'y']

In [ ]:
print(p2)

<__main__.Point object at 0x7c25be8c3590>

In [ ]:
p2

In [ ]:
my_list = [1, 2, 3]

In [ ]:
print(my_list)

[1, 2, 3]

In [ ]:
my_list

[1, 2, 3]

# class magic method

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f'Person(name={self.name}, age={self.age})'

    def __repr__(self):
        return f'사람(이름={self.name}, 나이={self.age})'

In [ ]:
p1 = Person('홍길동', 16)  # 객체 생성

In [ ]:
print(p1)  # print 함수 호출 문장
#> print(obj) 함수는 obj(객체)의 __str__ 메서드가 리턴해 주는 문자열을 콘솔 창에 출력.

Person(name=홍길동, age=16)

print(object) 함수의 동작 원리
*   object에 `__str__` 메서드가 있으면, `__str__` 메서드가 리턴하는 문자열을 출력.
*   object에 `__str__` 메서드가 없으면, `__repr__` 메서드가 리턴하는 문자열을 출력.
*   object에 `__str__`, `__repr__` 메서드들이 없으면, "ClassName Object at 0x......" 형식의 문자열을 출력.

In [ ]:
p1  # 코드 셀에서 가장 마지막 줄에 있는 변수, 식(exression) -> 자동 출력
#> 식(expression)은 객체의 __repr__ 메서드가 리턴해 주는 문자열이 콘솔 창에 출력됨.

사람(이름=홍길동, 나이=16)

In [ ]:
dir(p1)  #> 객체가 가지고 있는 속성들(변수 이름, 메서드 이름)을 리턴.

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'name']

In [ ]:
class MyClass:
    pass

In [ ]:
my = MyClass()

In [ ]:
print(my)

<__main__.MyClass object at 0x7ad68ef43090>

In [ ]:
my

In [ ]:
dir(my)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [ ]:
my_list = list()
print(my_list)
my_list

[]

[]