<a href="https://colab.research.google.com/github/JakeOh/202505_BD50/blob/main/python08_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random  # 난수 생성을 위한 모듈(random.random(), random.randrange(), ...)
import math  # 수학 함수를 사용하기 위한 모듈(math.sqrt(), ...)

# Ex 1.

`fruits = ('apple', 'banana', 'cherry', 'durian', 'watermellon')`

튜플 fruits에 저장된 문자열의 길이들을 저장하는 리스트를 만드로 출력하세요.

In [3]:
fruits = ('apple', 'banana', 'cherry', 'durian', 'watermellon')

# lengths = []  # 문자열의 길이들을 저장하기 위한 빈 리스트
# for x in fruits:  # tuple의 원소들을 순서대로 하나씩 반복
#     lengths.append(len(x))  # 문자열의 길이를 리스트에 추가
legnths = [len(x) for x in fruits]

lengths

[5, 6, 6, 6, 11]

# Ex 2.

*   1 이상 4 이하 범위의 정수 난수 10개를 저장하는 리스트 gender_codes를 만들고 출력하세요.
*   gender_codes의 값이 1 또는 3이면 'Male', 2 또는 4이면 'Female'을 저장하는 리스트 genders를 만들고 출력하세요.

In [10]:
# gender_codes = []
# for _ in range(10):
#     gender_codes.append(random.randrange(1, 5))
gender_codes = [random.randrange(1, 5) for _ in range(10)]
print(gender_codes)

# genders = []
# for c in gender_codes:
#     if c in (1, 3):  # if c == 1 or c == 3:
#         genders.append('Male')
#     else:
#         genders.append('Female')
genders = ['Male' if c in (1, 3) else 'Female'
           for c in gender_codes]
print(genders)

[3, 4, 2, 2, 1, 4, 4, 4, 1, 3]
['Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male']

# Ex 3.

```
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]
```

두 2차원 배열 m1, m2에서 같은 인덱스의 원소들끼리 뺄셈(m1 - m2) 결과를 저장하는 리스트를 만들고 출력하세요.

In [15]:
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]

# result = []  # 결과(2차원 리스트)를 저장하기 위한 리스트
# for r1, r2 in zip(m1, m2):
#     row_minus = []  # 1차원 리스트의 원소들끼리 뺄셈의 결과를 저장하기 위한 리스트
#     for x, y in zip(r1, r2):
#         row_minus.append(x - y)
#     result.append(row_minus)
result = [[x - y for x, y in zip(r1, r2)]
          for r1, r2 in zip(m1, m2)]

result

[[0, 1, 2], [2, 3, 4]]

# Ex 4.

1 이상 10 이하의 정수 난수 5개를 저장하는 리스트 scores를 만들고 출력하세요.

In [21]:
num_of_items = 5
scores = [random.randrange(1, 11) for _ in range(num_of_items)]
scores

[1, 3, 7, 3, 5]

# Ex 5.

문제 4에서 만든 리스트 scores의 원소들의 합계를 계산하고 출력하세요.

In [22]:
total = sum(scores)
total

19

# Ex 6.

문제 4에서 만든 리스트 scores의 원소들의 평균을 계산하고 출력하세요.

# Ex 7.

문제 4에서 만든 리스트 scores의 원소들의 분산을 계산하고 출력하세요.

# Ex 8.

문제 4에서 만든 리스트 scores의 원소들의 표준편차를 계산하고 출력하세요.

# Ex 9.

문제 4에서 만든 리스트 scores에서 최댓값을 찾고 출력하세요.

# Ex 10.

문제 4에서 만든 리스트 scores에서 최솟값을 찾고 출력하세요.

*   리스트의 모든 원소의 합계

$$
sum = \sum_{i = 1}^{n} x_i = x_1 + x_2 + ... + x_n
$$

*   리스트의 모든 원소의 평균(mean)

$$
\bar{x} = \frac{1}{n} \sum_{i = 1}^{n} x_i
$$

*   리스트의 모든 원소의 분산(variance)

$$
var = \frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2
$$

*   리스트의 모든 원소의 표준편차(standard deviation)

$$
std = \sqrt{var}
    = \sqrt{\frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2}
$$